{{/* Flags */}}
{{- $isBz := false -}}

{{/* Languages */}}
{{- $hasJavaLang := false -}}

{{- $email := "" -}}
{{- if (hasKey . "email") -}}
    {{- $email = .email -}}
{{- else -}}
    {{- $email = promptString "primary email" -}}
{{- end -}}

{{- if and (hasKey . "lang") (hasKey .lang "java") -}}
    {{- $hasJavaLang = .lang.java -}}
{{- else -}}
    {{- $hasJavaLang = promptBool "Install java" -}}
{{- end -}}

{{- if eq $email "jleacox@backblaze.com" -}}
  {{- $izBz = true -}}
{{- end -}}

[data]
    email = "{{ $email }}"
    isBz = {{ $isBz }}

    [data.lang]
        java = {{ $hasJavaLang }}

[edit]
    command = "code"
    args = ["--wait"]
