{{- if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env zsh

# TODO: It would be nice to have the desired java versions defined in a common variable
#  and to send that list to the apt/choco install scripts

    {{- if .lang.java }}
$HOME/.scripts/linux/apt_install_zulu_java.sh
    {{- end }}
{{ end -}}