{{- if (eq .chezmoi.os "windows") -}}
    {{- if .lang.java }}

$jdk_versions = @(
    "jdk11",
    "jdk17",
    "jdk21"
)

& "$HOME\.scripts\windows\choco_install_zulu_java.ps1" -arg $jdk_versions
    {{- end }}
{{ end -}}
