{{- if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env zsh

    {{- if .lang.java }}
# TODO: It would be nice to have the desired java versions defined in a common variable
#  and to send that list to the apt/choco install scripts

jdk_versions=(
    jdk11
    jdk17
    jdk21
    jdk24
)

$HOME/.scripts/linux/apt_install_temurin_java.sh ${jdk_versions[@]}
    {{- end }}
{{ end -}}