{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env zsh

# TODO: It would be nice to have the desired java versions defined in a common variable
#  and to send that list to the apt/choco/brew install scripts. However, each package
#  manager has slightly different names for the zulu packages.

    {{- if .lang.java }}
$HOME/.scripts/mac/brew_install_zulu_java.sh
    {{- end }}
{{ end -}}